## Build outputs
**/bin/
**/obj/
**/out/

## IDE
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
.vs/
.idea/
*.swp
*.swo

## OS
.DS_Store
Thumbs.db

## Logs & DB
*.log
*.db

## Publish
**/publish/

## User data
*.m3u
*.m3u8
*.txt
*.db
*.log

## Release artifacts
*.zip
